body {
    font-family: Arial;
    background-color: rgb(0, 0, 0);
}

.calculation {
    color: white;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.calculator-button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    background-color: gray;
}

.orange-button{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    font-size:26px;
    cursor: pointer;
    background-color: orange;
}

.clear-button{
    font-size: 17px;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    background-color: white;
}